:root{
    --light-blue: #CEDEF0;
    --purple: #9D9AD9;
    --dark-blue: #6B9BD1;
    --main-font: 'Montserrat', sans-serif;
    --sub-font: 'Varela Round', sans-serif;
}

body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 20% 80%;
    overflow: hidden
}

/*nav-bar style*/
.nav-bar{
    height: 100vh;
    box-shadow: 0 4px 10px 4px rgb(0 0 0 / 0.5);
}

.profile{
    margin: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.avatar{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: var(--light-blue);
}

.emp-name{
    font-family: var(--main-font);
    font-size: 18px;
    margin-bottom: 0;
}

.emp-id, .label{
    font-family: var(--main-font);
    font-size: 14px;
    margin-top: 5px;
    color: gray;
}

.label{
    margin: 20px;
    margin-top: 20px;
}

.tab{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 20px;
}

.bi {
    font-size: 30px; 
    line-height: 30px; 
    width: 30px; 
    height: 30px; 
    display: inline-block; 
    text-align: center;
}

a{
    color: black;
    text-decoration: none;
}

.tab-label{
    font-family: var(--main-font);
    font-size: 18px;
}

a:hover{
    color: var(--dark-blue);
}

.tab:hover{
    background-color: var(--light-blue);
    border-left: 5px solid var(--dark-blue);
    color: var(--dark-blue);
    margin-left: 0;
    margin-right: 0;
    padding: 0 20px 0 20px;
}

.tab:focus{
    background-color: var(--light-blue);
    border-left: 5px solid var(--dark-blue);
    color: var(--dark-blue);
    margin-left: 0;
    margin-right: 0;
    padding: 0 20px 0 20px;
}

/**/

.transaction-box{
    height: 75vh;
    width: 45vw;
    box-shadow: 0 4px 10px 4px rgb(0 0 0 / 0.2);
    border-radius: 10px;
    margin: auto;
    background-color: var(--light-blue);
}

.title{
    font-size: 36px;
    font-family: var(--main-font);
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.trans-form{
    display: flex;
    flex-direction: column;
    padding: 25px;
    width: 400px;
}

label{
    font-size: 20px;
    font-family: var(--sub-font);
}

input[type=text], input[type=number]{
    width: 400px;
    height: 40px;
    font-size: 16px;
    font-family: var(--sub-font);
    margin: 0.2rem auto 1rem auto;
    border-radius: 10px;
    border: none;
    box-shadow: 4px 4px 4px 0 rgb(0 0 0 / 0.2);
}

input[type=number]{
    width: 150px;
    height: 40px;
}

input[type=text]:hover{
    border: 2px solid black;
}

p{
    font-size: 15px;
    font-family: var(--sub-font);
    margin-top: 5px;
}

input[type=submit]{
    background-color: var(--purple);
    width:150px;
    height: 35px;
    font-size: 18px;
    font-family: var(--sub-font);
    color: white;
    border: none;
    border-radius: 10px;
}

.container{
    display: flex;
    gap: 2rem;
}